@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed&display=swap');

body{
  background-color: #FDF9F5;
  color: #464159;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}

a{
  color: #c06c84;
  text-decoration: none;
}

a:hover{
  color: #ffd369;
}

img{
  width: 200px;
  height: auto;
  border-radius: 50%;
}


.container{
  width: 900px;
  text-align: center;
  margin: 0 auto;
}

.card{
  padding: 40px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  border-radius: 7px;
  margin: 50px 0;
  height: auto;
}


.footer{
  background-color: white;
  padding: 20px 50px;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  border-radius: 7px;
}
.footer li{
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.footer ul{
  list-style: none;
  padding-left: 0px;
}

.btn-blue{
  background-color: #33658A;
  padding: 7px 35px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 0 7px 15px rgba(0,0,0,.1);
  transition: 0.3s;
}

.btn-blue:hover{
  background-color: #c06c84;
  color: white;
}

@media (max-width: 1200px) {
  .container{
    width: 800px;
  }
}

@media (max-width: 992px) {
  .container{
    width: 690px;
  }
}

@media (max-width: 768px) {
  .container{
    width: 550px;
  }
}

@media (max-width: 576px) {
  .container{
    width: 480px;
  }
}
